

:root{
  --main-color: #16553b;
  --alt-color: #46c945;

}


/* INICIO  */



.form__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.form__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.form__input-error-activo {
	display: block;
}

.form__validate-state {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}





.form__message {
	color: #F66060;
	display: none;
}

.form__message-activo {
	display: block;
}

.form__message p {
	margin: 0;
}

.form__group-btn-send {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.form__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.form__message-success {
	font-size: 14px;
	color: #119200;
	display: none;
}

.form__message-success-activo {
	display: block;
}

/* ----- -----  Estilos para validate ----- ----- */
.form__group-correct .form__validate-state {
	color: #1ed12d;
	opacity: 1;
}

.form__group-incorrect .form__label {
	color: #bb2929;
}

.form__group-incorrect .form__validate-state {
	color: #bb2929;
	opacity: 1;
}

.form__group-incorrect .form__input {
	border: 3px solid #bb2929;
}

/* FINAL */


/* star sidebar perfil */
/*1rem = 16px*/

* {
  margin: 0;
  padding: 0;
}

#sidebar {
  position: fixed;
  width: 12em;
  height: 100%;
  background: var(--main-color);
  right: -12rem;
  transition: all 700ms;
}

#sidebar.active {
  right: 0;
}

#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  text-align: center;
  padding: 1rem 0.9rem;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  list-style: none;
  display: block;
  margin: 0 auto;
}

#sidebar .toggle-btn {
  position: absolute;
  right: 14rem;
  top: 1.5rem;
  cursor: pointer;
}

#sidebar .toggle-btn span {
	display: block;
  width: 40px;
  text-align: center;
  font-size: 25px;
	z-index: 500;
}

/*  end sidebar perfil */