#cropModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    max-width: 800px; /* Ancho máximo del modal */
    width: 90%; /* Ancho del modal en pantallas pequeñas */
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.cropper-container {
    width: 100%; /* Ancho completo del contenedor */
    max-width: 700px; /* Ancho máximo del área de recorte */
    height: 450px; /* Alto fijo para el área de recorte */
    margin: 20px auto; /* Margen superior e inferior, centrado horizontalmente */
    position: relative; /* Para asegurar que el área de recorte no se salga */
}

#imageToCrop {
    max-width: none; /* Permitir que la imagen supere el ancho del contenedor */
    width: auto; /* Ajustar el ancho automático */
    height: auto; /* Ajustar la altura automática */
    display: block; /* Asegurar que la imagen se comporte como un bloque */
    margin: 0 auto; /* Centrar la imagen */
}

#imagePreview {
    max-width: 110px; /* Ancho máximo de la vista previa */
    max-height: 110px; /* Alto máximo de la vista previa */
    display: block; /* Asegurar que la imagen se comporte como un bloque */
    margin-top: 10px; /* Margen superior para separar de otros elementos */
}